#container {
  display: flex;
}

.productCard {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px
}

p {
  margin: 0;
}

.productImage {
  height: 200px;
  width: 200px;
  margin-left: 45px;
}

.productName {
  font-weight: 800;
}

.productPrice {
  font-size: 20px;
  margin: 5px 0;
}

#cartContainer {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  width: 220px;
}

h3 {
  margin: 0 auto;
  margin-bottom: 10px;
  width: fit-content;
  font-size: 22px;
}

.shoppingCartRow {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.shoppingCartRow img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.shoppingCartRowName {
  width: 90px;
}

#cartTotal {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}
